html {
    background-repeat: none;
    background-image: linear-gradient(rgb(97, 196, 196), rgb(208, 160, 72));
    /* background-size: 400px 1000px; */
    text-shadow: rgb(192, 192, 192) -1px -2px, rgb(43, 43, 43) 2px 1px;
    margin: 0;
    background-repeat: none;
    background-attachment: fixed;
}

body {
    background-color: transparent;
}

.grave-text-container {
    color: grey;
    display: flex;
    background-color: rgb(82, 82, 82);
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    align-items: center;
    justify-content: center;

    height: 320px;
    width: 400px;
    border-style: solid;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-top-width: 8px;
    border-left-width: 8px;
    border-bottom-width: 0px;
    border-right-width: 6px;

    box-shadow:
        rgb(100, 100, 100) -16px 0px,
        rgb(255, 208, 90) -5px -0px 64px;
    /* margin-top: px; */
}

#grave-text {
    text-align: left;
    padding: 64px;
    font-size: 36px;
    font-family: 'Libre Baskerville', serif;
}