html {
    background-image: linear-gradient(rgb(97, 196, 196), rgb(208, 160, 72));
    background-repeat: no-repeat;
    height: 500px
}

html,
body {
    background-color: transparent;
    color: grey;
    text-shadow: rgb(192, 192, 192) -1px -2px, rgb(43, 43, 43) 2px 1px;
}

.grave-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;
    border-top-width: 20px;
    border-left-width: 20px;
    border-bottom-width: 0px;
    border-right-width: 10px;
    height: 320px;
    width: 400px;
    box-shadow: rgb(192, 192, 192) -5px -0px,
        rgb(100, 100, 100) 10px 0px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(82, 82, 82);
}

#grave-text {
    text-align: left;
    padding: 64px;
    font-size: 42px;
    font-family: 'Libre Baskerville', serif;
}